/*
COLOR PALETTE
https://colours.neilorangepeel.com
https://coolors.co

COLORS FROM COOLORS
353535 Dark grey
3C6E71 Turqoise
FFFFFF White
D9D9D9 Grey
284B63 Blue */

body {
    color: #353535;
    font-family: Times, serif;
    margin: 0;
    padding: 0;
}

.content_wrap {
    margin: 0 auto;
    width: 775px;
    padding: 60px 0;
}

/* HEADER
---------*/
header {
    background: #D9D9D9;
}
#intro-image {
    width: 125px;
    object-position: left;
    object-fit: none;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.link_section_first, .link_section_second, .link_section_third {
    display: inline-block;
    background: #284B63;
    padding: 8px;
    border-radius: 4px;
    color: #FFFFFF;
    text-decoration: none;
}

.toc {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.toc_list {
    float: left;
    margin: 20px;
}
/* FIRST SECTION
----------------*/
.section_one {
    background: #284B63;
    color: #FFFFFF;
}

#stats-title1 {
    font-size: 40px;
}
#key-title1 {
    font-size: 20px;
}

.firstcheckbox {
    font-family: system-ui, sans-serif;
    font-size: .75em;
    font-weight: normal;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: trasnlateY(-.0.75em);
    display: grid;
    place-content: center;
}

.firstcheckbox + .firstcheckbox {
    margin-top: 1em;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--firstcheckbox-color);
    background-color: #353839;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

h2 {
    text-align: center;
}
/* SECTION TWO
--------------*/
.section_two {
    background: #3C6E71;
    color: #FFFFFF;
}

#stats-title2 {
    font-size: 40px;
}

#key-title2 {
    font-size: 20px;
}

/* SECTION THREE
----------------*/
.section_three {
    background: #353535;
    color: #FFFFFF;
}

#stats-title3 {
    font-size: 40px;
}

#key-title3 {
    font-size: 20px;
}

/* FOOTER
---------*/
footer {
    background: #D9D9D9;
    color: #353535;
} 

footer a:link {
    color: #FFFFFF;
    background: #284B63;
    padding: 8px;
    border-radius: 4px;
}
footer a:hover {
    text-decoration: none;
    background: rgba(40, 75, 90, 80%);
}
footer a:visited {
    color: #FFFFFF;
}

footer a {
    display: inline-block;
}

.bing_chilling {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.footer_list {
    float: left;
    margin: 20px;
}