/*
COLOR PALETTE
https://colours.neilorangepeel.com
https://coolors.co
3457D5 Byzantine blue
0047AB Cobalt blue
0070BB Azul
F2F3F4 Anti-flash white
FEFEFA Baby powder
FFFAF0 Floral white
FAF0E6 Linen
FDF5E6 Oldlace
DAA520 Goldenrod
E6A817 Harvest gold
F8DE7E Jasmine
8B8589 Taupe gray
555555 Davy's gray
353839 Onyx
*/

body {
    color: #353839;
}

/* HEADER
---------*/
header {
    background: #FFFAF0;
}
#intro-image {
    width: 125px;
}

h1 {
    font-size: 75px;
}

.directory {
    display: inline-block;
    background: #0070BB;
    padding: 8px;
    border-radius: 4px;
    color: #353839;
    text-decoration: none;
}


/* FIRST SECTION
----------------*/
.section_one {
    background: #0070BB;
    color: #FDF5E6;
}

#stats-title1 {
    font-size: 50px;
}
#key-title1 {
    font-size: 20px;
}

.firstcheckbox {
    font-family: system-ui, sans-serif;
    font-size: .75em;
    font-weight: normal;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: trasnlateY(-.0.75em);
    display: grid;
    place-content: center;
}

.firstcheckbox + .firstcheckbox {
    margin-top: 1em;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--firstcheckbox-color);
    background-color: #353839;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

/* SECTION TWO
--------------*/
.section_two {
    background: #0070BB;
    color: #FDF5E6;
}

#stats-title2 {
    font-size: 50px;
}

#key-title2 {
    font-size: 20px;
}

/* SECTION THREE
----------------*/
.section_two {
    background: #0070BB;
    color: #FDF5E6;
}

#stats-title2 {
    font-size: 50px;
}

#key-title2 {
    font-size: 20px;
}

/* FOOTER
---------*/
footer {
    background: #8B8589;
    color: #FDF5E6;
} 

footer a:link {
    color: #FDF5E6;
    background: #0070BB;
    padding: 8px;
    border-radius: 4px;
}
footer a:hover {
    text-decoration: none;
    background: rgba(0, 112, 187, 80%);
}
footer a:visited {
    color: #FDF5E6;
}

footer a {
    display: inline-block;
}